/*
etiqueta normal = nada
etiqueta universal = * 
etiqueta de id= #
etiqueta de clase = . 
*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background: lightgrey;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px lightskyblue;
    border: 1px solid black;
    background: white;
}

#header{
    background: lightcyan;
}

#logo{
    padding: 20px;
    margin: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}